{% extends "layout.html" %}

{% block title %}
    {{ name }}
{% endblock%}

{% block main %}
    <div class="container-lg quote-table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ symbol }}</th>
                    <td>{{ name }}</td>
                    <td>{{ price | usd }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
